In [4]:
import pandas as pd
import os
import glob

In [47]:
def concatenate(indir= "C:\Users\DELL\Desktop\PB\s3 unstructured\Shine" , outfile = "C:\Users\DELL\Desktop\PB\s3 unstructured\Shine_concat\Outer.csv"):
    c=0
    os.chdir(indir)
    filelist =glob.glob("*.xlsx")
    dflist = pd.DataFrame()
    for filename  in filelist:
        c+=1
        print(c),
        df = pd.read_excel(filename)
        dflist = dflist.append(df)
    print(len(dflist))
        
        
    #concatdf = pd.concat(dflist , axis= 1)
    #writer = pd.ExcelWriter(outfile,engine ='xlsxwriter')
    df.to_csv(outfile)
    
    
    print("total files read " + str(c))
    
concatenate()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 126822
total files read 116

In [48]:
def concatenate(indir= "C:\Users\DELL\Desktop\PB\s3 unstructured\Shine" , outfile = "C:\Users\DELL\Desktop\PB\s3 unstructured\Shine_concat\A.xlsx"):
    c=0
    os.chdir(indir)
    filelist =glob.glob("*.xlsx")
    dflist= []
    for filename  in filelist:
        c+=1
        df = pd.read_excel(filename, sheet = 'sheet1')
        dflist.append(df)
        
        print(c),
    concatdf = pd.concat(dflist )
    print(df.count)
    writer = pd.ExcelWriter(outfile,engine ='xlsxwriter')
    df.to_excel(writer, sheet_name ='Sheet1')
    
concatenate()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 <bound method DataFrame.count of     Downloaded on [ 2018-12-13 ]\nDownloaded by [ orangestone ]\n  \
0                                                  NaN
1                                                  NaN
2                                                  Sno
3                                                    1
4                                                    2
5                                                    3
6                                                    4
7                                                    5
8                                                    6
9                                                    7
10                                                   8
11                                                   9
12                                                  10
13                                                  11
14                                                  12
15                                                  13
16                                                  14
17                                                  15
18                                                  16
19                                                  17
20                                                  18
21                                                  19
22                                                  20
23                                                  21
24                                                  22
25                                                  23
26                                                  24
27                                                  25
28                                                  26
29                                                  27
..                                                 ...
475                                                473
476                                                474
477                                                475
478                                                476
479                                                477
480                                                478
481                                                479
482                                                480
483                                                481
484                                                482
485                                                483
486                                                484
487                                                485
488                                                486
489                                                487
490                                                488
491                                                489
492                                                490
493                                                491
494                                                492
495                                                493
496                                                494
497                                                495
498                                                496
499                                                497
500                                                498
501                                                499
502                                                500
503                                                NaN
504  Note: The data downloaded shall be used for th...

                        Unnamed: 1   Unnamed: 2  \
0                              NaN          NaN
1                              NaN          NaN
2                   Candidate Name          DOB
3                 Deepshikha Gupta          NaN
4                  Rinku Choudhary  29 Mar 1985
5                    Ashok Purohit  07 Jul 1966
6                 Vandana Kembhavi          NaN
7                     Naveen singh  21 Aug 1983
8                       Sujith M S          NaN
9                    Rakhi Rajguru          NaN
10                    Rajesh Ghoti          NaN
11                     Umesh kadam          NaN
12                   Ankit Khaitan          NaN
13                     Pramod hire          NaN
14                 Shankar tarware          NaN
15           Sandeep Balwant Pawar          NaN
16                   M Swaminathan          NaN
17             Renuka Bhavesh Vyas          NaN
18                   Ashish Gupta   09 Jul 1994
19   prashantkumar hindurao kakade          NaN
20                   Shikha Pandey  23 Jul 1990
21                   Devyani Palav          NaN
22       Avadhut vaibhav mhamunkar          NaN
23                         Gautam           NaN
24                    Tanya Dsouza          NaN
25                   Rahul shedage          NaN
26             Pankaj kumar maurya          NaN
27                    Abdul Vaseem          NaN
28                   Arti Pardeshi          NaN
29                 Gulab Prajapati  24 Aug 1983
..                             ...          ...
475                  Drishti Nagda  19 Nov 1991
476                sarabjeet singh          NaN
477                   Darshan Bane  13 Mar 1988
478                 Shraddha Yadav  16 Feb 1987
479                 Kaushal Gandhi  12 Apr 1989
480                  Sandeep Menon          NaN
481                 ashok ramadugu  07 Mar 1980
482               thomas fernandes  12 Sep 1984
483              Dasharath Raorane          NaN
484                 SUHAS P JADHAV  21 Jun 1966
485                  Smita Bhatkar  27 Feb 1978
486              Hitendra Bhalerao  14 Jul 1980
487                 prashant kumar  05 Oct 1989
488                 ARNAB BANERJEE  04 Sep 1966
489                   Dhawal Bhatt  19 Jan 1980
490               kamlesh sonawane          NaN
491                 Amit Deshpande  02 Oct 1974
492             Lopita chakraborty  23 Jul 1979
493                  Ratika Jasani  10 Jul 1985
494                      Daan Bist  28 Aug 1986
495              Dnyaneshwar Pawar  01 Jun 1984
496                  Pankaj Thaker  29 Feb 1964
497                  Amit Tripathi  15 May 1986
498                     Gomathi TV  01 Nov 1976
499                    Elora Ghosh  19 Mar 1987
500                GOVIND KULKARNI  20 Jun 1970
501                  Sanjana Singh  13 Nov 1980
502               Sambhaji Bansode  01 Jun 1976
503                            NaN          NaN
504                            NaN          NaN

                            Unnamed: 3      Unnamed: 4        Unnamed: 5  \
0                                  NaN             NaN               NaN
1                                  NaN             NaN               NaN
2                             Email ID  Contact Number  Current Location
3              drdeepshikhag@gmail.com   91 9819152888       Mumbai City
4        rinku_nishchal@rediffmail.com   91 9920926616       Mumbai City
5               ashok.grengg@gmail.com   91 7045120090       Mumbai City
6            kembhavivandana@gmail.com   91 9702286996       Mumbai City
7           singh.naveenjams@gmail.com   91 9082742955       Mumbai City
8                sujithmsiva@gmail.com   91 7208549058       Mumbai City
9                rakhi_18s@yahoo.co.in   91 9850118688       Mumbai City
10            rajrshghoti123@gmail.com   91 7719925163             Thane
11            umeshkadam3421@gmail.com   91 9773771487       Mumbai City
12           ankit.khaitan09@gmail.com   91 9920245205       Mumbai City
13                   phire92@gmail.com   91 9773974934       Mumbai City
14         shankartarware.ss@gmail.com   91 8369382823       Navi Mumbai
15            sandypawar1187@gmail.com   91 7039128949       Mumbai City
16     murugaiyanswaminathan@gmail.com   91 9004180914       Mumbai City
17               renuka.vyas@gmail.com   91 9892970687       Mumbai City
18            ashish-gupta@outlook.com   91 9920232183       Mumbai City
19                 pkakade88@gmail.com   91 8850872073       Navi Mumbai
20          shikhapandey1990@gmail.com   91 9773647978       Mumbai City
21           devyanipalav123@gmail.com   91 9820882513       Mumbai City
22              avadhut77.am@gmail.com   91 8850755839       Mumbai City
23                  mohite07@gmail.com   91 9819363958       Mumbai City
24               alashka.tan@gmail.com   91 9820267409       Mumbai City
25           rahul30186@rediffmail.com   91 8879722156       Mumbai City
26            mauryapankaj20@gmail.com   91 9321013803       Mumbai City
27              abduldanish2@gmail.com   91 7383767786       Mumbai City
28          arti.pardeshi95@crisil.com   91 9653300726       Mumbai City
29          prajapatigulab_24@yahoo.in   91 9029933358       Mumbai City
..                                 ...             ...               ...
475               dish.nagda@gmail.com   91 9870113052       Mumbai City
476                sarab_732@yahoo.com   91 9029099145       Mumbai City
477                darshbane@gmail.com   91 9819127721       Mumbai City
478                 aprfeb87@gmail.com   91 9769356355       Mumbai City
479         ca.kaushalgandhi@gmail.com   91 9979153500       Mumbai City
480                 sdpmenon@gmail.com   91 9833553252       Mumbai City
481           ashok.ramadugu@gmail.com   91 9867488840       Mumbai City
482             tfernandes12@gmail.com    965 69953148       Mumbai City
483              rakesh13081@gmail.com   91 9967009188       Mumbai City
484           suhas_spj@rediffmail.com   91 9867554417       Mumbai City
485                srbhatkar@gmail.com   91 8850309281       Navi Mumbai
486        hitendra.bhalerao@gmail.com   91 9326128275       Mumbai City
487           prashantraja89@gmail.com   91 9424176616       Mumbai City
488           arnab_banarjee@yahoo.com   91 9920477573       Mumbai City
489              dhawalbhatt@gmail.com   91 9833107857       Mumbai City
490              kamlesh2277@yahoo.com   91 9594094077       Mumbai City
491                   amitmd@yahoo.com   91 9619343440       Mumbai City
492  lopita_chakraborty@rediffmail.com   91 9167463443             Thane
493            ratika_10july@yahoo.com   91 9029938256       Mumbai City
494              bistdan1986@gmail.com   91 9967613696       Mumbai City
495              dnyanpawar9@gmail.com   91 7045457415       Mumbai City
496                  pct9077@gmail.com   91 9833090202       Mumbai City
497          tripathiamit208@gmail.com   91 9769039208       Mumbai City
498                tvgomathi@gmail.com   91 8779863942       Mumbai City
499              elora.ghosh@gmail.com   91 8767388303       Mumbai City
500         govindkulkarni72@gmail.com   91 9167962383       Mumbai City
501          sanjanas13@rediffmail.com   91 9029473765       Navi Mumbai
502               sambansode@gmail.com   91 9892023013       Mumbai City
503                                NaN             NaN               NaN
504                                NaN             NaN               NaN

                                            Unnamed: 6 Unnamed: 7  \
0                                                  NaN        NaN
1                                                  NaN        NaN
2                                   Preferred Location     Gender
3                               All India, Mumbai City          F
4                                          Mumbai City          F
5    Bangalore, Navi Mumbai, Ratnagiri, Thane, Pune...          M
6                                                  NaN          F
7                                                  NaN          M
8    Bangalore, Chennai, Kochi, Thiruvanananthapura...          M
9                                                  NaN          F
10                                                 NaN          M
11                                                 NaN          M
12                              All India, Mumbai City          M
13                                                 NaN          F
14                                                 NaN          M
15                                                 NaN          M
16                       All India, Mumbai City, Delhi          M
17                              All India, Mumbai City          F
18                              All India, Mumbai City          M
19                              All India, Navi Mumbai          M
20        All India, United Arab Emirates, Mumbai City          F
21                              All India, Mumbai City          F
22                                                 NaN          M
23                                                 NaN          M
24                                                 NaN          F
25                                                 NaN          M
26                                                 NaN          M
27                              All India, Mumbai City          F
28                                                 NaN          F
29                                         Mumbai City          M
..                                                 ...        ...
475                                        Mumbai City          F
476                                        Mumbai City        NaN
477                                        Mumbai City          M
478                                        Mumbai City          F
479  Gandhinagar, All India, Noida, Pune, Mumbai Ci...          M
480                                                NaN          F
481                                        Mumbai City          M
482                                        Mumbai City          M
483                                        Mumbai City          M
484                                  Pune, Mumbai City          M
485                All India, Navi Mumbai, Mumbai City          F
486  All India, Chennai, United Arab Emirates, Kolk...          M
487  - Any -, Bilaspur, All India, Other Chattisgar...          M
488  Bhubaneswar, Cuttack, Kolkata, Jamshedpur, Ran...          M
489  Gandhinagar, Other Gujarat, Vapi, Thane, Mumba...          M
490                    All India, Chennai, Mumbai City          M
491                                  Pune, Mumbai City          M
492             All India, Kolkata, Thane, Mumbai City          F
493                                        Mumbai City          F
494                                        Mumbai City          M
495                 Bangalore, Aurangabad, Mumbai City          M
496  All India, Gandhinagar, Jamnagar, Other Mahara...          M
497                       Bangalore, Pune, Mumbai City          M
498                             All India, Mumbai City          F
499                    Bangalore, Kolkata, Mumbai City          F
500  All India, Bangalore, Gurugram, Ludhiana, Mumb...          M
501                                        Mumbai City          F
502                                        Mumbai City          M
503                                                NaN        NaN
504                                                NaN        NaN

                Unnamed: 8             Unnamed: 9     ...      Unnamed: 94  \
0                      NaN                    NaN     ...              NaN
1                      NaN                    NaN     ...              NaN
2    Total Work Experience  Current Annual Salary     ...              NaN
3           7 Yrs 4 Months          Rs. 8.00 Lacs     ...              NaN
4           13 Yrs 0 Month          Rs. 6.00 Lacs     ...              NaN
5         > 25 Yrs 0 Month         Rs. 30.00 Lacs     ...              NaN
6            6 Yrs 0 Month         Rs. 10.00 Lacs     ...              NaN
7            6 Yrs 0 Month          Rs. 3.95 Lacs     ...              NaN
8           13 Yrs 0 Month          Rs. 9.50 Lacs     ...              NaN
9            5 Yrs 0 Month          Rs. 3.50 Lacs     ...              NaN
10           9 Yrs 0 Month         Rs. 10.15 Lacs     ...              NaN
11           7 Yrs 0 Month          Rs. 6.10 Lacs     ...              NaN
12           7 Yrs 0 Month          Rs. 5.50 Lacs     ...              NaN
13          10 Yrs 0 Month          Rs. 5.00 Lacs     ...              NaN
14            1 Yr 0 Month         Rs. 16.15 Lacs     ...              NaN
15          10 Yrs 0 Month          Rs. 3.50 Lacs     ...              NaN
16          22 Yrs 0 Month         Rs. 12.00 Lacs     ...              NaN
17          14 Yrs 0 Month         Rs. 10.25 Lacs     ...              NaN
18          4 Yrs 8 Months          Rs. 4.80 Lacs     ...              NaN
19          6 Yrs 5 Months          Rs. 4.30 Lacs     ...              NaN
20          6 Yrs 7 Months         Rs. 12.00 Lacs     ...              NaN
21           5 Yrs 0 Month          Rs. 4.80 Lacs     ...              NaN
22            1 Yr 0 Month          Rs. 6.35 Lacs     ...              NaN
23           6 Yrs 0 Month          Rs. 3.80 Lacs     ...              NaN
24          14 Yrs 0 Month          Rs. 4.00 Lacs     ...              NaN
25           7 Yrs 0 Month          Rs. 3.95 Lacs     ...              NaN
26           8 Yrs 0 Month          Rs. 5.70 Lacs     ...              NaN
27        > 25 Yrs 0 Month         Rs. 18.00 Lacs     ...              NaN
28           9 Yrs 0 Month          Rs. 5.10 Lacs     ...              NaN
29          13 Yrs 0 Month          Rs. 3.95 Lacs     ...              NaN
..                     ...                    ...     ...              ...
475          6 Yrs 0 Month          Rs. 6.65 Lacs     ...              NaN
476         18 Yrs 0 Month         Rs. 29.00 Lacs     ...              NaN
477         7 Yrs 4 Months          Rs. 8.30 Lacs     ...              NaN
478         5 Yrs 3 Months          Rs. 3.70 Lacs     ...              NaN
479          6 Yrs 1 Month         Rs. 15.80 Lacs     ...              NaN
480         15 Yrs 0 Month         Rs. 15.00 Lacs     ...              NaN
481        18 Yrs 6 Months          Rs. 7.00 Lacs     ...              NaN
482         11 Yrs 0 Month          Rs. 8.00 Lacs     ...              NaN
483         22 Yrs 0 Month         Rs. 18.00 Lacs     ...              NaN
484         21 Yrs 0 Month         Rs. 13.60 Lacs     ...              NaN
485          9 Yrs 0 Month          Rs. 5.50 Lacs     ...              NaN
486         8 Yrs 8 Months          Rs. 3.50 Lacs     ...              NaN
487         7 Yrs 3 Months          Rs. 9.30 Lacs     ...              NaN
488         24 Yrs 0 Month         Rs. 24.00 Lacs     ...              NaN
489         18 Yrs 0 Month          Rs. 4.00 Lacs     ...              NaN
490         10 Yrs 0 Month          Rs. 6.00 Lacs     ...              NaN
491         20 Yrs 1 Month         Rs. 12.00 Lacs     ...              NaN
492         13 Yrs 0 Month         Rs. 11.00 Lacs     ...              NaN
493         9 Yrs 3 Months          Rs. 6.50 Lacs     ...              NaN
494         6 Yrs 5 Months          Rs. 4.80 Lacs     ...              NaN
495        4 Yrs 10 Months          Rs. 5.60 Lacs     ...              NaN
496       > 25 Yrs 0 Month         Rs. 45.00 Lacs     ...              NaN
497         5 Yrs 9 Months          Rs. 4.40 Lacs     ...              NaN
498         20 Yrs 0 Month         Rs. 12.00 Lacs     ...              NaN
499          4 Yrs 0 Month          Rs. 3.60 Lacs     ...              NaN
500         21 Yrs 0 Month         Rs. 12.00 Lacs     ...              NaN
501         10 Yrs 0 Month          Rs. 7.00 Lacs     ...              NaN
502         13 Yrs 0 Month          Rs. 3.85 Lacs     ...              NaN
503                    NaN                    NaN     ...              NaN

116
total files read 116

AttributeError: 'list' object has no attribute 'tail'

In [51]:
def dfdf():
    outfile = 'C:\\Users\\DELL\\Desktop\\PB\\s3 unstructured\\a1.xlsx'
    df = pd.read_excel("C:\\Users\\DELL\\Desktop\\PB\\s3 unstructured\\Shine\\2 nov 2018.xlsx")
    
    df1=pd.read_excel("C:\\Users\\DELL\\Desktop\\PB\\s3 unstructured\\Shine\\22 OCT.xlsx")
    dd = pd.concat([df, df1],ignore_index=True)

    writer = pd.ExcelWriter(outfile,engine ='xlsxwriter')
    dd.to_excel(writer, sheet_name ='Sheet1')
    print(len(df) , len(dd))
    dd.dropna(axis = 1, how ='all', inplace = True)
    print(len(df) , len(dd))
    writer.close()
dfdf()

(1505, 3010)
(1505, 3010)

In [62]:
df = pd.read_csv('C:\\Users\\DELL\\Videos\\aug 22....csv')
df.head()

,Downloaded on [ 2018-08-22 ] Downloaded by [ orangestone ],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sno,Candidate Name,DOB,Email ID,Contact Number,Current Location,Preferred Location,Gender,Total Work Experience,Current Annual Salary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Mohammed Ali Mansuri,NaN,mansuri_modhali2000@yahoo.com,91 7738117850,Mumbai City,NaN,M,14 Yrs 0 Month,Rs. 5.50 Lacs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Avinash Ramkisan Mane,05 Apr 1978,simpleavi@gmail.com,91 9967867762,Mumbai City,Ireland,M,12 Yrs 5 Months,Rs. 17.00 Lacs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
def concatenate(indir= "C:\Users\DELL\Desktop\PB\s3 unstructured\Shine" , outfile = "C:\Users\DELL\Desktop\PB\s3 unstructured\Shine_concat\A.xlsx"):
    c=0
    os.chdir(indir)
    filelist =glob.glob("*.xlsx")
    dflist= pd.DataFrame()
    for filename  in filelist:
        c+=1
        df = pd.read_excel(filename)
        dflist=pd.concat([df,dflist],ignore_index=True)
        
        print(c, len(dflist)),
    
    print(dflist.count)
    writer = pd.ExcelWriter(outfile,engine ='xlsxwriter')
    df.to_excel(writer, sheet_name ='Sheet1')
    print(len(dflist))
    print("total files read " + str(c))
    print(df.tail)
concatenate()

(1, 1505) (2, 3010) (3, 3512) (4, 5014) (5, 5316) (6, 5518) (7, 7020) (8, 8525) (9, 9005) (10, 10510) (11, 12015) (12, 13517) (13, 15022) (14, 16527) (15, 18032) (16, 18537) (17, 20039) (18, 21541) (19, 22993) (20, 24495) (21, 25997) (22, 26498) (23, 26993) (24, 28495) (25, 29947) (26, 31449) (27, 32951) (28, 34453) (29, 35958) (30, 37463) (31, 37968) (32, 38373) (33, 39878) (34, 40376) (35, 40869) (36, 41371) (37, 41858) (38, 43363) (39, 44868) (40, 46159) (41, 46833) (42, 47507) (43, 48360) (44, 49213) (45, 50715) (46, 52217) (47, 53719) (48, 55221) (49, 56723) (50, 58225) (51, 58725) (52, 59225) (53, 60727) (54, 62229) (55, 62481) (56, 62733) (57, 64235) (58, 65737) (59, 67239) (60, 68741) (61, 69213) (62, 69685) (63, 71187) (64, 72689) (65, 73691) (66, 74693) (67, 75664) (68, 76635) (69, 77637) (70, 78639) (71, 79641) (72, 80643) (73, 81183) (74, 81723) (75, 82875) (76, 84027) (77, 85529) (78, 87031) (79, 88536) (80, 90038) (81, 91540) (82, 92042) (83, 92544) (84, 93034) (85, 93524) (86, 95026) (87, 96528) (88, 96999) (89, 97470) (90, 98972) (91, 100474) (92, 100959) (93, 101444) (94, 102946) (95, 104448) (96, 104948) (97, 105448) (98, 106950) (99, 108452) (100, 109957) (101, 110458) (102, 111963) (103, 112464) (104, 112966) (105, 114471) (106, 114975) (107, 116480) (108, 116985) (109, 118490) (110, 118795) (111, 120300) (112, 121805) (113, 123310) (114, 124815) (115, 126317) (116, 126822) <bound method DataFrame.count of        COMPANY NAME CUSTOMER NAME  CUSTOMER NUMBER Candidate Name  \
0               NaN           NaN              NaN            NaN
1               NaN           NaN              NaN            NaN
2               NaN           NaN              NaN            NaN
3               NaN           NaN              NaN            NaN
4               NaN           NaN              NaN            NaN
5               NaN           NaN              NaN            NaN
6               NaN           NaN              NaN            NaN
7               NaN           NaN              NaN            NaN
8               NaN           NaN              NaN            NaN
9               NaN           NaN              NaN            NaN
10              NaN           NaN              NaN            NaN
11              NaN           NaN              NaN            NaN
12              NaN           NaN              NaN            NaN
13              NaN           NaN              NaN            NaN
14              NaN           NaN              NaN            NaN
15              NaN           NaN              NaN            NaN
16              NaN           NaN              NaN            NaN
17              NaN           NaN              NaN            NaN
18              NaN           NaN              NaN            NaN
19              NaN           NaN              NaN            NaN
20              NaN           NaN              NaN            NaN
21              NaN           NaN              NaN            NaN
22              NaN           NaN              NaN            NaN
23              NaN           NaN              NaN            NaN
24              NaN           NaN              NaN            NaN
25              NaN           NaN              NaN            NaN
26              NaN           NaN              NaN            NaN
27              NaN           NaN              NaN            NaN
28              NaN           NaN              NaN            NaN
29              NaN           NaN              NaN            NaN
...             ...           ...              ...            ...
126792          NaN           NaN              NaN            NaN
126793          NaN           NaN              NaN            NaN
126794          NaN           NaN              NaN            NaN
126795          NaN           NaN              NaN            NaN
126796          NaN           NaN              NaN            NaN
126797          NaN           NaN              NaN            NaN
126798          NaN           NaN              NaN            NaN
126799          NaN           NaN              NaN            NaN
126800          NaN           NaN              NaN            NaN
126801          NaN           NaN              NaN            NaN
126802          NaN           NaN              NaN            NaN
126803          NaN           NaN              NaN            NaN
126804          NaN           NaN              NaN            NaN
126805          NaN           NaN              NaN            NaN
126806          NaN           NaN              NaN            NaN
126807          NaN           NaN              NaN            NaN
126808          NaN           NaN              NaN            NaN
126809          NaN           NaN              NaN            NaN
126810          NaN           NaN              NaN            NaN
126811          NaN           NaN              NaN            NaN
126812          NaN           NaN              NaN            NaN
126813          NaN           NaN              NaN            NaN
126814          NaN           NaN              NaN            NaN
126815          NaN           NaN              NaN            NaN
126816          NaN           NaN              NaN            NaN
126817          NaN           NaN              NaN            NaN
126818          NaN           NaN              NaN            NaN
126819          NaN           NaN              NaN            NaN
126820          NaN           NaN              NaN            NaN
126821          NaN           NaN              NaN            NaN

       Contact Number Current Annual Salary Current Company  \
0                 NaN                   NaN             NaN
1                 NaN                   NaN             NaN
2                 NaN                   NaN             NaN
3                 NaN                   NaN             NaN
4                 NaN                   NaN             NaN
5                 NaN                   NaN             NaN
6                 NaN                   NaN             NaN
7                 NaN                   NaN             NaN
8                 NaN                   NaN             NaN
9                 NaN                   NaN             NaN
10                NaN                   NaN             NaN
11                NaN                   NaN             NaN
12                NaN                   NaN             NaN
13                NaN                   NaN             NaN
14                NaN                   NaN             NaN
15                NaN                   NaN             NaN
16                NaN                   NaN             NaN
17                NaN                   NaN             NaN
18                NaN                   NaN             NaN
19                NaN                   NaN             NaN
20                NaN                   NaN             NaN
21                NaN                   NaN             NaN
22                NaN                   NaN             NaN
23                NaN                   NaN             NaN
24                NaN                   NaN             NaN
25                NaN                   NaN             NaN
26                NaN                   NaN             NaN
27                NaN                   NaN             NaN
28                NaN                   NaN             NaN
29                NaN                   NaN             NaN
...               ...                   ...             ...
126792            NaN                   NaN             NaN
126793            NaN                   NaN             NaN
126794            NaN                   NaN             NaN
126795            NaN                   NaN             NaN
126796            NaN                   NaN             NaN
126797            NaN                   NaN             NaN
126798            NaN                   NaN             NaN
126799            NaN                   NaN             NaN
126800            NaN                   NaN             NaN
126801            NaN                   NaN             NaN
126802            NaN                   NaN             NaN
126803            NaN                   NaN             NaN
126804            NaN                   NaN             NaN
126805            NaN                   NaN             NaN
126806            NaN                   NaN             NaN
126807            NaN                   NaN             NaN
126808            NaN                   NaN             NaN
126809            NaN                   NaN             NaN
126810            NaN                   NaN             NaN
126811            NaN                   NaN             NaN
126812            NaN                   NaN             NaN
126813            NaN                   NaN             NaN
126814            NaN                   NaN             NaN
126815            NaN                   NaN             NaN
126816            NaN                   NaN             NaN
126817            NaN                   NaN             NaN
126818            NaN                   NaN             NaN
126819            NaN                   NaN             NaN
126820            NaN                   NaN             NaN
126821            NaN                   NaN             NaN

       Current Functional Area Current Industry Current Job Title  \
0                          NaN              NaN               NaN
1                          NaN              NaN               NaN
2                          NaN              NaN               NaN
3                          NaN              NaN               NaN
4                          NaN              NaN               NaN
5                          NaN              NaN               NaN
6                          NaN              NaN               NaN
7                          NaN              NaN               NaN
8                          NaN              NaN               NaN
9                          NaN              NaN               NaN
10                         NaN              NaN               NaN
11                         NaN              NaN               NaN
12                         NaN              NaN               NaN
13                         NaN              NaN               NaN
14                         NaN              NaN               NaN
15                         NaN              NaN               NaN
16                         NaN              NaN               NaN
17                         NaN              NaN               NaN
18                         NaN              NaN               NaN
19                         NaN              NaN               NaN
20                         NaN              NaN               NaN
21                         NaN              NaN               NaN
22                         NaN              NaN               NaN
23                         NaN              NaN               NaN
24                         NaN              NaN               NaN
25                         NaN              NaN               NaN
26                         NaN              NaN               NaN
27                         NaN              NaN               NaN
28                         NaN              NaN               NaN
29                         NaN              NaN               NaN
...                        ...              ...               ...
126792                     NaN              NaN               NaN
126793                     NaN              NaN               NaN
126794                     NaN              NaN               NaN
126795                     NaN              NaN               NaN
126796                     NaN              NaN               NaN
126797                     NaN              NaN               NaN
126798                     NaN              NaN               NaN
126799                     NaN              NaN               NaN
126800                     NaN              NaN               NaN
126801                     NaN              NaN               NaN
126802                     NaN              NaN               NaN
126803                     NaN              NaN               NaN
126804                     NaN              NaN               NaN
126805                     NaN              NaN               NaN
126806                     NaN              NaN               NaN
126807                     NaN              NaN               NaN
126808                     NaN              NaN               NaN
126809                     NaN              NaN               NaN
126810                     NaN              NaN               NaN
126811                     NaN              NaN               NaN
126812                     NaN              NaN               NaN
126813                     NaN              NaN               NaN
126814                     NaN              NaN               NaN
126815                     NaN              NaN               NaN
126816                     NaN              NaN               NaN
126817                     NaN              NaN               NaN
126818                     NaN              NaN               NaN
126819                     NaN              NaN               NaN
126820                     NaN              NaN               NaN
126821                     NaN              NaN               NaN

               ...          Unnamed: 92 Unnamed: 93 Unnamed: 94 Unnamed: 95  \
0              ...                  NaN         NaN         NaN         NaN
1              ...                  NaN         NaN         NaN         NaN
2              ...                  NaN         NaN         NaN         NaN
3              ...                  NaN         NaN         NaN         NaN
4              ...                  NaN         NaN         NaN         NaN
5              ...                  NaN         NaN         NaN         NaN
6              ...                  NaN         NaN         NaN         NaN
7              ...                  NaN         NaN         NaN         NaN
8              ...                  NaN         NaN         NaN         NaN
9              ...                  NaN         NaN         NaN         NaN
10             ...                  NaN         NaN         NaN         NaN
11             ...                  NaN         NaN         NaN         NaN
12             ...                  NaN         NaN         NaN         NaN
13             ...                  NaN         NaN         NaN         NaN
14             ...                  NaN         NaN         NaN         NaN
15             ...                  NaN         NaN         NaN         NaN
16             ...                  NaN         NaN         NaN         NaN
17             ...                  NaN         NaN         NaN         NaN
18             ...                  NaN         NaN         NaN         NaN
19             ...                  NaN         NaN         NaN         NaN
20             ...                  NaN         NaN         NaN         NaN
21             ...                  NaN         NaN         NaN         NaN
22             ...                  NaN         NaN         NaN         NaN
23             ...                  NaN         NaN         NaN         NaN
24             ...                  NaN         NaN         NaN         NaN
25             ...                  NaN         NaN         NaN         NaN
26             ...                  NaN         NaN         NaN         NaN
27             ...                  NaN         NaN         NaN         NaN
28             ...                  NaN         NaN         NaN         NaN
29             ...                  NaN         NaN         NaN         NaN
...            ...                  ...         ...         ...         ...
126792         ...                  NaN         NaN         NaN         NaN
126793         ...                  NaN         NaN         NaN         NaN
126794         ...                  NaN         NaN         NaN         NaN
126795         ...                  NaN         NaN         NaN         NaN
126796         ...                  NaN         NaN         NaN         NaN
126797         ...                  NaN         NaN         NaN         NaN
126798         ...                  NaN         NaN         NaN         NaN
126799         ...                  NaN         NaN         NaN         NaN
126800         ...                  NaN         NaN         NaN         NaN
126801         ...                  NaN         NaN         NaN         NaN
126802         ...                  NaN         NaN         NaN         NaN
126803         ...                  NaN         NaN         NaN         NaN
126804         ...                  NaN         NaN         NaN         NaN
126805         ...                  NaN         NaN         NaN         NaN
126806         ...                  NaN         NaN         NaN         NaN
126807         ...                  NaN         NaN         NaN         NaN
126808         ...                  NaN         NaN         NaN         NaN
126809         ...                  NaN         NaN         NaN         NaN
126810         ...                  NaN         NaN         NaN         NaN
126811         ...                  NaN         NaN         NaN         NaN
126812         ...                  NaN         NaN         NaN         NaN
126813         ...                  NaN         NaN         NaN         NaN
126814         ...                  NaN         NaN         NaN         NaN
126815         ...                  NaN         NaN         NaN         NaN
126816         ...                  NaN         NaN         NaN         NaN
126817         ...                  NaN         NaN         NaN         NaN
126818         ...                  NaN         NaN         NaN         NaN
126819         ...                  NaN         NaN         NaN         NaN
126820         ...                  NaN         NaN         NaN         NaN
126821         ...                  NaN         NaN         NaN         NaN

       Unnamed: 96 Unnamed: 97 Unnamed: 98 Unnamed: 99 Year Of Passing  \
0              NaN         NaN         NaN         NaN             NaN
1              NaN         NaN         NaN         NaN             NaN
2              NaN         NaN         NaN         NaN             NaN
3              NaN         NaN         NaN         NaN             NaN
4              NaN         NaN         NaN         NaN             NaN
5              NaN         NaN         NaN         NaN             NaN
6              NaN         NaN         NaN         NaN             NaN
7              NaN         NaN         NaN         NaN             NaN
8              NaN         NaN         NaN         NaN             NaN
9              NaN         NaN         NaN         NaN             NaN
10             NaN         NaN         NaN         NaN             NaN
11             NaN         NaN         NaN         NaN             NaN
12             NaN         NaN         NaN         NaN             NaN
13             NaN         NaN         NaN         NaN             NaN
14             NaN         NaN         NaN         NaN             NaN
15             NaN         NaN         NaN         NaN             NaN
16             NaN         NaN         NaN         NaN             NaN
17             NaN         NaN         NaN         NaN             NaN
18             NaN         NaN         NaN         NaN             NaN
19             NaN         NaN         NaN         NaN             NaN
20             NaN         NaN         NaN         NaN             NaN
21             NaN         NaN         NaN         NaN             NaN
22             NaN         NaN         NaN         NaN             NaN
23             NaN         NaN         NaN         NaN             NaN
24             NaN         NaN         NaN         NaN             NaN

126822
total files read 116
<bound method DataFrame.tail of     Downloaded on [ 2018-12-13 ]\nDownloaded by [ orangestone ]\n  \
0                                                  NaN
1                                                  NaN
2                                                  Sno
3                                                    1
4                                                    2
5                                                    3
6                                                    4
7                                                    5
8                                                    6
9                                                    7
10                                                   8
11                                                   9
12                                                  10
13                                                  11
14                                                  12
15                                                  13
16                                                  14
17                                                  15
18                                                  16
19                                                  17
20                                                  18
21                                                  19
22                                                  20
23                                                  21
24                                                  22
25                                                  23
26                                                  24
27                                                  25
28                                                  26
29                                                  27
..                                                 ...
475                                                473
476                                                474
477                                                475
478                                                476
479                                                477
480                                                478
481                                                479
482                                                480
483                                                481
484                                                482
485                                                483
486                                                484
487                                                485
488                                                486
489                                                487
490                                                488
491                                                489
492                                                490
493                                                491
494                                                492
495                                                493
496                                                494
497                                                495
498                                                496
499                                                497
500                                                498
501                                                499
502                                                500
503                                                NaN
504  Note: The data downloaded shall be used for th...

                        Unnamed: 1   Unnamed: 2  \
0                              NaN          NaN
1                              NaN          NaN
2                   Candidate Name          DOB
3                 Deepshikha Gupta          NaN
4                  Rinku Choudhary  29 Mar 1985
5                    Ashok Purohit  07 Jul 1966
6                 Vandana Kembhavi          NaN
7                     Naveen singh  21 Aug 1983
8                       Sujith M S          NaN
9                    Rakhi Rajguru          NaN
10                    Rajesh Ghoti          NaN
11                     Umesh kadam          NaN
12                   Ankit Khaitan          NaN
13                     Pramod hire          NaN
14                 Shankar tarware          NaN
15           Sandeep Balwant Pawar          NaN
16                   M Swaminathan          NaN
17             Renuka Bhavesh Vyas          NaN
18                   Ashish Gupta   09 Jul 1994
19   prashantkumar hindurao kakade          NaN
20                   Shikha Pandey  23 Jul 1990
21                   Devyani Palav          NaN
22       Avadhut vaibhav mhamunkar          NaN
23                         Gautam           NaN
24                    Tanya Dsouza          NaN
25                   Rahul shedage          NaN
26             Pankaj kumar maurya          NaN
27                    Abdul Vaseem          NaN
28                   Arti Pardeshi          NaN
29                 Gulab Prajapati  24 Aug 1983
..                             ...          ...
475                  Drishti Nagda  19 Nov 1991
476                sarabjeet singh          NaN
477                   Darshan Bane  13 Mar 1988
478                 Shraddha Yadav  16 Feb 1987
479                 Kaushal Gandhi  12 Apr 1989
480                  Sandeep Menon          NaN
481                 ashok ramadugu  07 Mar 1980
482               thomas fernandes  12 Sep 1984
483              Dasharath Raorane          NaN
484                 SUHAS P JADHAV  21 Jun 1966
485                  Smita Bhatkar  27 Feb 1978
486              Hitendra Bhalerao  14 Jul 1980
487                 prashant kumar  05 Oct 1989
488                 ARNAB BANERJEE  04 Sep 1966
489                   Dhawal Bhatt  19 Jan 1980
490               kamlesh sonawane          NaN
491                 Amit Deshpande  02 Oct 1974
492             Lopita chakraborty  23 Jul 1979
493                  Ratika Jasani  10 Jul 1985
494                      Daan Bist  28 Aug 1986
495              Dnyaneshwar Pawar  01 Jun 1984
496                  Pankaj Thaker  29 Feb 1964
497                  Amit Tripathi  15 May 1986
498                     Gomathi TV  01 Nov 1976
499                    Elora Ghosh  19 Mar 1987
500                GOVIND KULKARNI  20 Jun 1970
501                  Sanjana Singh  13 Nov 1980
502               Sambhaji Bansode  01 Jun 1976
503                            NaN          NaN
504                            NaN          NaN

                            Unnamed: 3      Unnamed: 4        Unnamed: 5  \
0                                  NaN             NaN               NaN
1                                  NaN             NaN               NaN
2                             Email ID  Contact Number  Current Location
3              drdeepshikhag@gmail.com   91 9819152888       Mumbai City
4        rinku_nishchal@rediffmail.com   91 9920926616       Mumbai City
5               ashok.grengg@gmail.com   91 7045120090       Mumbai City
6            kembhavivandana@gmail.com   91 9702286996       Mumbai City
7           singh.naveenjams@gmail.com   91 9082742955       Mumbai City
8                sujithmsiva@gmail.com   91 7208549058       Mumbai City
9                rakhi_18s@yahoo.co.in   91 9850118688       Mumbai City
10            rajrshghoti123@gmail.com   91 7719925163             Thane
11            umeshkadam3421@gmail.com   91 9773771487       Mumbai City
12           ankit.khaitan09@gmail.com   91 9920245205       Mumbai City
13                   phire92@gmail.com   91 9773974934       Mumbai City
14         shankartarware.ss@gmail.com   91 8369382823       Navi Mumbai
15            sandypawar1187@gmail.com   91 7039128949       Mumbai City
16     murugaiyanswaminathan@gmail.com   91 9004180914       Mumbai City
17               renuka.vyas@gmail.com   91 9892970687       Mumbai City
18            ashish-gupta@outlook.com   91 9920232183       Mumbai City
19                 pkakade88@gmail.com   91 8850872073       Navi Mumbai
20          shikhapandey1990@gmail.com   91 9773647978       Mumbai City
21           devyanipalav123@gmail.com   91 9820882513       Mumbai City
22              avadhut77.am@gmail.com   91 8850755839       Mumbai City
23                  mohite07@gmail.com   91 9819363958       Mumbai City
24               alashka.tan@gmail.com   91 9820267409       Mumbai City
25           rahul30186@rediffmail.com   91 8879722156       Mumbai City
26            mauryapankaj20@gmail.com   91 9321013803       Mumbai City
27              abduldanish2@gmail.com   91 7383767786       Mumbai City
28          arti.pardeshi95@crisil.com   91 9653300726       Mumbai City
29          prajapatigulab_24@yahoo.in   91 9029933358       Mumbai City
..                                 ...             ...               ...
475               dish.nagda@gmail.com   91 9870113052       Mumbai City
476                sarab_732@yahoo.com   91 9029099145       Mumbai City
477                darshbane@gmail.com   91 9819127721       Mumbai City
478                 aprfeb87@gmail.com   91 9769356355       Mumbai City
479         ca.kaushalgandhi@gmail.com   91 9979153500       Mumbai City
480                 sdpmenon@gmail.com   91 9833553252       Mumbai City
481           ashok.ramadugu@gmail.com   91 9867488840       Mumbai City
482             tfernandes12@gmail.com    965 69953148       Mumbai City
483              rakesh13081@gmail.com   91 9967009188       Mumbai City
484           suhas_spj@rediffmail.com   91 9867554417       Mumbai City
485                srbhatkar@gmail.com   91 8850309281       Navi Mumbai
486        hitendra.bhalerao@gmail.com   91 9326128275       Mumbai City
487           prashantraja89@gmail.com   91 9424176616       Mumbai City
488           arnab_banarjee@yahoo.com   91 9920477573       Mumbai City
489              dhawalbhatt@gmail.com   91 9833107857       Mumbai City
490              kamlesh2277@yahoo.com   91 9594094077       Mumbai City
491                   amitmd@yahoo.com   91 9619343440       Mumbai City
492  lopita_chakraborty@rediffmail.com   91 9167463443             Thane
493            ratika_10july@yahoo.com   91 9029938256       Mumbai City
494              bistdan1986@gmail.com   91 9967613696       Mumbai City
495              dnyanpawar9@gmail.com   91 7045457415       Mumbai City
496                  pct9077@gmail.com   91 9833090202       Mumbai City
497          tripathiamit208@gmail.com   91 9769039208       Mumbai City
498                tvgomathi@gmail.com   91 8779863942       Mumbai City
499              elora.ghosh@gmail.com   91 8767388303       Mumbai City
500         govindkulkarni72@gmail.com   91 9167962383       Mumbai City
501          sanjanas13@rediffmail.com   91 9029473765       Navi Mumbai
502               sambansode@gmail.com   91 9892023013       Mumbai City
503                                NaN             NaN               NaN
504                                NaN             NaN               NaN

                                            Unnamed: 6 Unnamed: 7  \
0                                                  NaN        NaN
1                                                  NaN        NaN
2                                   Preferred Location     Gender
3                               All India, Mumbai City          F
4                                          Mumbai City          F
5    Bangalore, Navi Mumbai, Ratnagiri, Thane, Pune...          M
6                                                  NaN          F
7                                                  NaN          M
8    Bangalore, Chennai, Kochi, Thiruvanananthapura...          M
9                                                  NaN          F
10                                                 NaN          M
11                                                 NaN          M
12                              All India, Mumbai City          M
13                                                 NaN          F
14                                                 NaN          M
15                                                 NaN          M
16                       All India, Mumbai City, Delhi          M
17                              All India, Mumbai City          F
18                              All India, Mumbai City          M
19                              All India, Navi Mumbai          M
20        All India, United Arab Emirates, Mumbai City          F
21                              All India, Mumbai City          F
22                                                 NaN          M
23                                                 NaN          M
24                                                 NaN          F
25                                                 NaN          M
26                                                 NaN          M
27                              All India, Mumbai City          F
28                                                 NaN          F
29                                         Mumbai City          M
..                                                 ...        ...
475                                        Mumbai City          F
476                                        Mumbai City        NaN
477                                        Mumbai City          M
478                                        Mumbai City          F
479  Gandhinagar, All India, Noida, Pune, Mumbai Ci...          M
480                                                NaN          F
481                                        Mumbai City          M
482                                        Mumbai City          M
483                                        Mumbai City          M
484                                  Pune, Mumbai City          M
485                All India, Navi Mumbai, Mumbai City          F
486  All India, Chennai, United Arab Emirates, Kolk...          M
487  - Any -, Bilaspur, All India, Other Chattisgar...          M
488  Bhubaneswar, Cuttack, Kolkata, Jamshedpur, Ran...          M
489  Gandhinagar, Other Gujarat, Vapi, Thane, Mumba...          M
490                    All India, Chennai, Mumbai City          M
491                                  Pune, Mumbai City          M
492             All India, Kolkata, Thane, Mumbai City          F
493                                        Mumbai City          F
494                                        Mumbai City          M
495                 Bangalore, Aurangabad, Mumbai City          M
496  All India, Gandhinagar, Jamnagar, Other Mahara...          M
497                       Bangalore, Pune, Mumbai City          M
498                             All India, Mumbai City          F
499                    Bangalore, Kolkata, Mumbai City          F
500  All India, Bangalore, Gurugram, Ludhiana, Mumb...          M
501                                        Mumbai City          F
502                                        Mumbai City          M
503                                                NaN        NaN
504                                                NaN        NaN

                Unnamed: 8             Unnamed: 9     ...      Unnamed: 94  \
0                      NaN                    NaN     ...              NaN
1                      NaN                    NaN     ...              NaN
2    Total Work Experience  Current Annual Salary     ...              NaN
3           7 Yrs 4 Months          Rs. 8.00 Lacs     ...              NaN
4           13 Yrs 0 Month          Rs. 6.00 Lacs     ...              NaN
5         > 25 Yrs 0 Month         Rs. 30.00 Lacs     ...              NaN
6            6 Yrs 0 Month         Rs. 10.00 Lacs     ...              NaN
7            6 Yrs 0 Month          Rs. 3.95 Lacs     ...              NaN
8           13 Yrs 0 Month          Rs. 9.50 Lacs     ...              NaN
9            5 Yrs 0 Month          Rs. 3.50 Lacs     ...              NaN
10           9 Yrs 0 Month         Rs. 10.15 Lacs     ...              NaN
11           7 Yrs 0 Month          Rs. 6.10 Lacs     ...              NaN
12           7 Yrs 0 Month          Rs. 5.50 Lacs     ...              NaN
13          10 Yrs 0 Month          Rs. 5.00 Lacs     ...              NaN
14            1 Yr 0 Month         Rs. 16.15 Lacs     ...              NaN
15          10 Yrs 0 Month          Rs. 3.50 Lacs     ...              NaN
16          22 Yrs 0 Month         Rs. 12.00 Lacs     ...              NaN
17          14 Yrs 0 Month         Rs. 10.25 Lacs     ...              NaN
18          4 Yrs 8 Months          Rs. 4.80 Lacs     ...              NaN
19          6 Yrs 5 Months          Rs. 4.30 Lacs     ...              NaN
20          6 Yrs 7 Months         Rs. 12.00 Lacs     ...              NaN
21           5 Yrs 0 Month          Rs. 4.80 Lacs     ...              NaN
22            1 Yr 0 Month          Rs. 6.35 Lacs     ...              NaN
23           6 Yrs 0 Month          Rs. 3.80 Lacs     ...              NaN
24          14 Yrs 0 Month          Rs. 4.00 Lacs     ...              NaN
25           7 Yrs 0 Month          Rs. 3.95 Lacs     ...              NaN
26           8 Yrs 0 Month          Rs. 5.70 Lacs     ...              NaN
27        > 25 Yrs 0 Month         Rs. 18.00 Lacs     ...              NaN
28           9 Yrs 0 Month          Rs. 5.10 Lacs     ...              NaN
29          13 Yrs 0 Month          Rs. 3.95 Lacs     ...              NaN
..                     ...                    ...     ...              ...
475          6 Yrs 0 Month          Rs. 6.65 Lacs     ...              NaN
476         18 Yrs 0 Month         Rs. 29.00 Lacs     ...              NaN
477         7 Yrs 4 Months          Rs. 8.30 Lacs     ...              NaN
478         5 Yrs 3 Months          Rs. 3.70 Lacs     ...              NaN
479          6 Yrs 1 Month         Rs. 15.80 Lacs     ...              NaN
480         15 Yrs 0 Month         Rs. 15.00 Lacs     ...              NaN
481        18 Yrs 6 Months          Rs. 7.00 Lacs     ...              NaN
482         11 Yrs 0 Month          Rs. 8.00 Lacs     ...              NaN
483         22 Yrs 0 Month         Rs. 18.00 Lacs     ...              NaN
484         21 Yrs 0 Month         Rs. 13.60 Lacs     ...              NaN
485          9 Yrs 0 Month          Rs. 5.50 Lacs     ...              NaN
486         8 Yrs 8 Months          Rs. 3.50 Lacs     ...              NaN
487         7 Yrs 3 Months          Rs. 9.30 Lacs     ...              NaN
488         24 Yrs 0 Month         Rs. 24.00 Lacs     ...              NaN
489         18 Yrs 0 Month          Rs. 4.00 Lacs     ...              NaN
490         10 Yrs 0 Month          Rs. 6.00 Lacs     ...              NaN
491         20 Yrs 1 Month         Rs. 12.00 Lacs     ...              NaN
492         13 Yrs 0 Month         Rs. 11.00 Lacs     ...              NaN
493         9 Yrs 3 Months          Rs. 6.50 Lacs     ...              NaN
494         6 Yrs 5 Months          Rs. 4.80 Lacs     ...              NaN
495        4 Yrs 10 Months          Rs. 5.60 Lacs     ...              NaN
496       > 25 Yrs 0 Month         Rs. 45.00 Lacs     ...              NaN
497         5 Yrs 9 Months          Rs. 4.40 Lacs     ...              NaN
498         20 Yrs 0 Month         Rs. 12.00 Lacs     ...              NaN
499          4 Yrs 0 Month          Rs. 3.60 Lacs     ...              NaN
500         21 Yrs 0 Month         Rs. 12.00 Lacs     ...              NaN
501         10 Yrs 0 Month          Rs. 7.00 Lacs     ...              NaN
502         13 Yrs 0 Month          Rs. 3.85 Lacs     ...              NaN
503                    NaN                    NaN     ...              NaN
504                    NaN                    NaN     ...              NaN

    Unnamed: 95 Unnamed: 96 Unnamed: 97 Unnamed: 98 Unnamed: 99 Unnamed: 100  \
0           NaN         NaN         NaN         NaN         NaN          NaN
1           NaN         NaN         NaN         NaN         NaN          NaN